* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    overflow-x: hidden;
}

/*--------Nawigacja--------*/

nav {
    width: 100vw;
    background-color: rgb(31, 92, 171);
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 30px;
    list-style-type: none;
}

nav ul li {
    display: inline;
    float: left;
}

nav ul li a {
    display: block;
    margin: 30px 20px;
    text-decoration: none;
    color: rgb(255, 204, 0);
    font-size: 1.3em;
}

.active {
    text-decoration: underline;
}

nav ul li:hover {
    display: block;
    text-shadow: 2px 2px 3px rgb(161, 121, 1);
    background-color: rgb(17, 61, 142);
    transition: 0.2s;
}

/*--------Sekcja logowania--------*/

.signup-container, .login-container {
    margin: 15px auto;
    padding: 5px 20px;
    background-color: rgb(218, 218, 218);
    width: 50%;
}

.signup-wrapper, .login-wrapper {
    margin: 15px 0;
}

form div{
    padding: 3px;
}

form button {
    background-color: rgb(31, 92, 171);
    padding: 10px 15px;
    border: none;
    font-size: 16px;
    color: rgb(255, 204, 0);
}

form button:hover {
    background-color: rgb(17, 61, 142);
    cursor: pointer;
}

.signup-container, .login-container {
    display: none;
}

.signup-container.active, .login-container.active {
    display: block;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    height: 25%;
    border: rgb(31, 92, 171) solid 2px;
}

.signup-wrapper, .login-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    height: 50%;
}

.login-container span, .signup-container span {
    position: absolute;
    top: 35px;
    right: 35px;
    transform: translate(50%, -50%);
    font-size: 20px;
    background-color: #fff;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

.signup-container.active .signup-wrapper, .login-container.active .login-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    height: 50%;
}

/*----------Sekcja główna----------*/

main {
    margin: 50px auto;
    padding: 10px 25px;
    width: 80vw;
    height: 100vh;
    border: solid #aaa 1px;
    border-radius: 10%;
    box-shadow: 10px 5px 5px #aaa;
}

h1 {
    text-align: center;
    padding: 30px 0;
}

button#refreshDB {
    background-color: rgb(31, 92, 171);
    padding: 10px 15px;
    border: none;
    font-size: 16px;
    color: rgb(255, 204, 0);
}

/*---------------Stopka------------*/

footer {
    width: 100vw;
    background-color: rgb(31, 92, 171);
}

footer p {
    padding: 15px 0;
    text-align: center;
    color: rgb(255, 204, 0);
}